# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm dependencies
node_modules/

dist
private
apk
database/*
!database/*.md
.DS_Store

app.ts
.*.ts

cookies.json
localStorage.json
token.json